{% extends "base.html" %}
{% block content %}
<div class="main-wrapper">
    <div class="container_log">
        <!-- Информация -->
        <div class="parameter-container">
            <h2>Информация о событиях фермы</h2>
            <div class="log-container2">
                {% if logs_info %}
                    <ul class="log-list">
                        {% for log in logs_info %}
                            <li>{{ (log.timestamp).strftime('%d.%m.%Y %H:%M:%S') }} {{ log.message }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Нет информационных сообщений.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-container">

            <div class="parameter-container">

                 <span class="parameter-name">Наполнение водой</span>
                <button id="napolnit" class="status-button"
                        onclick="toggleParameter('Наполнение')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>
                <span class="parameter-name">Перемешивание</span>
                <button id="peremesh" class="status-button"
                        onclick="toggleParameter('Перемешивание')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>
                <span class="parameter-name">Слив раствора</span>
                <button id="sliv" class="status-button"
                        onclick="toggleParameter('Слив')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>
                <span class="parameter-name">Насос</span>
                <button id="nasos" class="status-button"
                        onclick="toggleParameter('Насос')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Полив на полку 1</span>
                <button id="polka1" class="status-button"
                        onclick="toggleParameter('Полка 1')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Полив на полку 2</span>
                <button id="polka2" class="status-button"
                        onclick="toggleParameter('Полка 2')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Полив на полку 3</span>
                <button id="polka3" class="status-button"
                        onclick="toggleParameter('Полка 3')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Полив на полку 4</span>
                <button id="polka4" class="status-button"
                        onclick="toggleParameter('Полка 4')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>


            </div>
            <div class="parameter-container">
                <span class="parameter-name">Свет БЕЛЫЙ</span>
                <table>
                    <tr>
                        <th>%</th>
                        <td>
                            <button id="level_1_1_white" class="btn btn-primary"
                                    onclick="openModal('ЯРКОСТЬ 1 БЕЛЫЙ')"
                                    {% if current_user.username != 'admin' %} disabled {% endif %}>
                            </button>
                        </td>
                        <td>
                            <button id="chanel_1_1_white" class="btn btn-primary"
                                    onclick="toggleParameter('КАНАЛ 1 БЕЛЫЙ')"
                                    {% if current_user.username != 'admin' %} disabled {% endif %}>
                            </button>
                        </td>
                        <!-- Модальное окно -->
                        <div id="valueModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <h2>Диммирование выбранным каналом</h2>
                                <form>
                                    <input type="hidden" id="parameter-name">
                                    <div class="form-group">
                                        <label for="parameter-value">Введите значение яркости в %</label>
                                        <input type="number" id="parameter-value" class="form-control" placeholder="Введите значение">
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="setValue()">Записать</button>
                                </form>
                            </div>
                        </div>
                    </tr>
                </table>
                <span class="parameter-name">Свет КРАСНЫЙ</span>
                <table>
                    <tr>
                        <th>%</th>
                        <td>
                            <button id="level_1_1_red" class="btn btn-primary"
                                    onclick="openModal('ЯРКОСТЬ 1 КРАСНЫЙ')"
                                    {% if current_user.username != 'admin' %} disabled {% endif %}>
                            </button>
                        </td>
                        <td>
                            <button id="chanel_1_1_red" class="btn btn-primary"
                                    onclick="toggleParameter('КАНАЛ 1 КРАСНЫЙ')"
                                    {% if current_user.username != 'admin' %} disabled {% endif %}>
                            </button>
                        </td>
                    </tr>
                </table>
                <span class="parameter-name"> </span>
                <span class="parameter-name">==============</span>
                <span class="parameter-name">Режим эксплуатации</span>
                <button id="mode_param" class="status-button"
                        onclick="toggleParameter('Режим эксплуатации')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>
                <span class="parameter-name"> </span>
                <span class="parameter-name">==============</span>
                <span class="parameter-name">Растворный узел</span>
                <button id="mixing" class="status-button"
                        onclick="toggleParameter('Растворный узел')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Свет полки 1 и 2</span>
                <button id="svet1" class="status-button"
                        onclick="toggleParameter('Свет 12')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>

                <span class="parameter-name">Свет полки 3 и 4</span>
                <button id="svet2" class="status-button"
                        onclick="toggleParameter('Свет 34')"
                        {% if current_user.username != 'admin' %} disabled {% endif %}>
                </button>
            </div>

            <div class="parameter-container">
                <span class="parameter-name">Показатели</span>
                <table>
                    <tr>
                        <th>Уровень PH</th>
                        <td id="UNIT_ID_PH">{{ parameters_dict['Уровень PH'] }}</td>
                    </tr>
                    <tr>
                        <th>Уровень EC</th>
                        <td id="UNIT_ID_EC">{{ parameters_dict['Уровень EC'] }}</td>
                    </tr>
                </table>
                <span class="parameter-name">Подача компонентов</span>
                <table>
                    <tr>
                        <th>А для EC</th>
                        <td id="statusA">откл</td>
                        <td id="timeA">{{ parameters_dict['Время подачи А в бак'] }}</td>
                    </tr>
                    <tr>
                        <th>В для EC</th>
                        <td id="statusB">откл</td>
                        <td id="timeB">{{ parameters_dict['Время подачи В в бак'] }}</td>
                    </tr>
                    <tr>
                        <th>Кислота для PH</th>
                        <td id="statusK">откл</td>
                        <td id="timeK">{{ parameters_dict['Время подачи К в бак'] }}</td>
                    </tr>
                </table>
                <span class="parameter-name">Уровень БАКА</span>
                <table>
                    <tr>
                        <th>Верхний</th>
                        <td id="level-1" class="indicator-wrapper">
                              <div id="indicator-level-1" class="status-indicator"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Середина</th>
                        <td id="level-2" class="indicator-wrapper">
                                <div id="indicator-level-2" class="status-indicator"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Нижний</th>
                        <td id="level-3" class="indicator-wrapper">
                                <div id="indicator-level-3" class="status-indicator"></div>
                        </td>
                    </tr>

                </table>

                <span class="parameter-name">Уровень компонент А</span>
                <table>
                    <tr>
                        <th>Максимум</th>
                        <td id="level-A1" class="indicator-wrapper">
                            <div id="indicator-level-A1" class="status-indicator"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Минимум</th>
                        <td id="level-A2" class="indicator-wrapper">
                            <div id="indicator-level-A2" class="status-indicator"></div>
                        </td>
                    </tr>
                </table>
                <span class="parameter-name">Уровень компонент В</span>
                <table>
                    <tr>
                        <th>Максимум</th>
                        <td id="level-B1" class="indicator-wrapper">
                            <div id="indicator-level-B1" class="status-indicator"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Минимум</th>
                        <td id="level-B2" class="indicator-wrapper">
                            <div id="indicator-level-B2" class="status-indicator"></div>
                        </td>
                    </tr>
                </table>
                <span class="parameter-name">Уровень кислота</span>
                <table>
                    <tr>
                        <th>Максимум</th>
                        <td id="level-K1" class="indicator-wrapper">
                            <div id="indicator-level-K1" class="status-indicator"></div>
                        </td>
                    </tr>
                    <tr>
                        <th>Минимум</th>
                        <td id="level-K2" class="indicator-wrapper">
                            <div id="indicator-level-K2" class="status-indicator"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container_log">
        <!-- Аварии -->
        <div class="parameter-container">
            <h2>Аварийные события</h2>
            <div class="log-container2">
                {% if logs_errors %}
                    <ul class="log-list">
                        {% for log in logs_errors %}
                            <li>{{ (log.timestamp).strftime('%d.%m.%Y %H:%M:%S') }} {{ log.message }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Нет аварийных сообщений.</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<script>
    const getParametersUrl = "{{ url_for('main.get_parameters') }}";
    const toggleParameterUrl = "{{ url_for('main.toggle_parameter') }}";
    const setParameterValueUrl = "{{ url_for('main.set_parameter_value') }}";
</script>
<script src="{{ url_for('static', filename='scripts/main2.js') }}"></script>
{% endblock %}
